h3 {
   color: brown;
}

img {
   width: 75%;
   padding: 10px;
}

.photos {
   text-align: center;
}

p {
   font-style: italic;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 18px;
}