<div class="container">
   <div class="container-header">
      <h1>Flight Simulator</h1>
      <h2>Current Flight Status</h2>
      <p>{{message}}</p>
      <h2>Shuttle Trajectory</h2>
   </div>
   <div class="row justify-content-center">
      <div class="col-3">
         <div class="container-left">
            <h3>Fuel Levels</h3>
            <p>Tank Full</p>
            <h3>Astronaut Chat</h3>
            <p>{{astronautChat}}</p>
         </div>
      </div>

      <div class="col-6">
         <div class="shuttle-background" [style.backgroundColor]="color">
            <img #rocketImage src="assets/images/planet-express.png" height = "60" width = "160" [style.left]="rocketCenter" [style.bottom]="0"/>
         </div>
      </div>

      <div class="col-3">
         <div class="container-right"b>
            <div *ngIf="takeOffStatus">
               <button (click)="moveRocket(rocketImage, 'up')" [disabled]="routingStatus[0]">Up</button>
               <button (click)="moveRocket(rocketImage, 'down')" [disabled]="routingStatus[1]">Down</button>
               <button (click)="moveRocket(rocketImage, 'right')" [disabled]="routingStatus[2]">Right</button>
               <button (click)="moveRocket(rocketImage, 'left')" [disabled]="routingStatus[3]">Left</button>
            </div>
            <h3>Space Shuttle Height</h3>
            <p>{{height}} km</p>
         </div>
      </div>
   </div>
   <div class="container-control-buttons">
      <button (click) = "takeOffProtocol(rocketImage)" [disabled]="takeOffStatus">Take Off</button>
      <button (click) = "landingProtocol(rocketImage)" [disabled]="!takeOffStatus">Land</button>
      <button (click) = "missionAbortProtocol(rocketImage)" [disabled]="!takeOffStatus">Abort Mission</button>
   </div>
</div>