.chores {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: blue;
}

h3 {
    text-decoration: underline;
    font-size: 24px;
}

ul {
    font-size: 18px;
    font-style: italic;
}